.home{
  display: flex;
  flex-direction: column;
  gap: px;
  color: white;
  font-size: 26px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0.8)
  ),
  url(img/1.jpg);
background-size: cover;
background-repeat: no-repeat;
text-align: center;
}

.phonebook{
  color:rgb(239, 200, 200);
}

